p {
  margin: 30px;
}

.btn a {
	align-items: center;
	position: relative;
  padding: 10px;
	color: #000;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	transition: 0.3s;
  
}

.btn a:hover {
	color: #f2f2f2;
}
